.App-main {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.App-header {
  position: fixed;
  z-index: 2;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descriptionContainer .title {
  font-size: 100px;
}
