.App {
  width: 100vw;
  height: 100vh;
}
.App-main {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.App-header {
  position: fixed;
  z-index: 2;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descriptionContainer .title {
  font-size: 100px;
}

/* ------------------------------------------------------------------- media */

@media (min-width: 319px) {
  h2 {
    font-size: 24px;
  }
  .descriptionContainer .title {
    font-size: 40px;
  }
}
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}