.crewWrapper {
  background-image: url("../images/background-crew-desktop.jpg");
}

.crewWrapper .mainWrapper {
  flex-direction: column;
  justify-content: center;
}

.crewWrapper .descriptionContainer .subTitle {
  margin-top: 20%;
  margin-bottom: 20px;
}
.crewWrapper .mainWrapper .title {
  font-size: 50px;
}

.crewWrapper .mainWrapper .desc {
  border: none;
}

.crewWrapper .imageContainer {
  padding-left: 120px;
}
.crewWrapper img {
  height: 600px;
}

/* ------------------------------------------------------------------- media */
@media (min-width: 319px) {

}
/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}