.destWrapper {
  background-image: url("../images/background-destination-desktop.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.destWrapper p {
  color: var(--font-pri);
}
