.homeWrapper {
  background-image: url('../images/background-home-desktop.jpg');
}
.mainWrapper {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content:space-around;
}

.homeWrapper .mainWrapper section {
  flex: 1;
}
.title, h2 {
  text-transform: uppercase;
}
.title {
  color: var(--font-title);
  font-family: "Bellefair", serif;
  font-weight: 100;
  font-size: 150px;
}
h2 {
  padding-top: 200px;
  padding-bottom: 50px;
}

section.left {
  padding: 30px;
}

.homeWrapper .desc {
  margin-bottom: 50px;
}

section.right {
  position: relative;
}

section.right .btn {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  line-height: 250px;
  background: var(--font-title);
  color: var(--font-sec);
  font-family: "Bellefair", serif;
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: 2;
  transition: all 0.2s;
}

section.right .btn:hover {
  box-shadow: 0 0 0 50px var(--font-gray);
}

/* ------------------------------------------------------------------- media */
@media (min-width: 319px) {
  .title {
    font-size: 50px;
  }
  section.right .btn {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 22px;
    bottom: 50px;
    right: 50px;
  }
}

/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
  
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
    font-size: 150px;
  }
  section.right .btn {
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 28px;
    bottom: 0;
    right: 100px;
  }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}