@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --font-pri: #d2d8f9;
  --font-sec: #0c0e18;
  --font-title: #ffffff;
  --font-gray: rgba(234, 215, 253, 0.403);
}

* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  width: 100%;
}
li:hover {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Barlow", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-pri);
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

