.navWrapper {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo {
  margin-left: 60px;
  width: 50px;
  height: 50px;
  background-image: url(../../../public/images/shared/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainNav {
  width: 50%;
  height: 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
}
.mainNav::before {
  content: '';
  width: 65%;
  height: 0;
  position: absolute;
  top: 50%;
  left: -60%;
  border: 1px solid rgba(255, 255, 255, 0.57);
}

.mainNav li {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}
.mainNav li span {
  color: var(--font-title);
  font-weight: 900;
  margin-right: 10px;
}
.mainNav li.selected,
.mainNav li:hover {
  cursor: pointer;
  border-bottom: 5px solid white;
  color: var(--font-pri);
}
.mainNav li.selected {
  border-color: var(--font-pri);
}
.mainNav li.selected span,
.mainNav li.hover span {
  color: var(--font-pri);
}
