.techWrapper {
  background-image: url("../images/background-technology-desktop.jpg");
}

.techWrapper .mainWrapper {
  flex-direction: column;
}
.techWrapper .descriptionContainer {
  padding: 30px;
}
.techWrapper h3 {
  font-size: 18px;
}
.techWrapper .mainWrapper .title {
  font-size: 72px;
}
.techWrapper .mainWrapper .desc {
  border: none;
}

/* ------------------------------------------------------------------- media */
@media (min-width: 319px) {

}
/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}